body {
  font-family: "Open Sans", sans-serif;
}

h6, h5 {
  font-weight: bold;
}

h4 {
    margin: 5px;
}

input {
  width: 75%;
}


.forecast {
  margin: 10px;
}

.heading {
  background-color: #3c3c3c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#city-list {
  width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

#current-temp,
#current-humidity,
#current-wind,
#current-uv  {
    font-size: 15px;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.card-text {
  font-size: 13px;
}

